$background: #2d2e2c;

$primary-red: #ee3536;
$primary-red-lighten: #ee3536cc;

$gradient-yellow: linear-gradient(
  90.02deg,
  #ffc246 1.51%,
  #fde566 54.1%,
  #ffc246 99.78%
);

$typography-heading-dark: #000000;

$background-charcoal: #2d2e2c;

$secondary-yellow: #ffc246;
