@use "../../styles/colors.scss";
@use "../../styles/typography.scss";

.ambassadorCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;

  * {
    user-select: none;
  }

  .ambassadorInfo {
    width: 376px;
    height: 663px;
    box-shadow: 0px 32px 32px 0px #0000007a;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 0 0 8px 8px;
    transition: all 500ms ease;
    transform: scale(0.566);

    .imagesWrapper {
      width: 376px;
      height: 451px;
      position: relative;
      width: 100%;
      flex: 1 1 0;
      z-index: 2;
      border-top: 4px solid colors.$secondary-yellow;
      border-left: 4px solid colors.$secondary-yellow;
      border-right: 4px solid colors.$secondary-yellow;
      border-radius: 8px 8px 0 0;

      .sportsIcon {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 2;
      }

      .signatureWrapper {
        position: absolute;
        top: 61.42px;
        left: 53px;
      }

      .imageWrapper {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .title {
      background: colors.$gradient-yellow;
      color: colors.$typography-heading-dark;
      width: 100%;
      padding: 16px 8px;
      text-align: center;
      @include typography.tagLarge();
    }

    .name {
      width: 100%;
      background: colors.$background-charcoal;
      border-radius: 0 0 8px 8px;
      padding: 24px 16px;
      @include typography.DesktopHeadingsH130Semibold();
      color: #fff;
      text-align: center;

      span {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .quote {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -999999px;
    top: -999999px;
    transition: all 800ms ease;
  }

  &.active {
    .ambassadorInfo {
      transform: scale(1);

      .name {
        padding: 40px 24px;
      }
    }

    .quote {
      visibility: visible;
      opacity: 1;
      position: initial;
      top: initial;
      left: initial;
    }
  }
}
